// /* You can add global styles to this file, and also import other style files */
@import 'styles/_colors.scss';


p, h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
  color: $grey;
  font-weight: 300;

}
